<!DOCTYPE html>
<html  ng-app="App">
 <head>
  <meta charset="utf-8">
  <meta content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <title>Contact list</title>  
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="controllers/appCtrl.js"></script>
      
 </head>
    	<body>
    	<div class="container" ng-controller="appCtrl">
       		<h1>Contact lfdsfdssdist</h1>
		       <table class="table">
		       	 <thead>
		       	 	<tr>
		       	 		<th>Name</th>
		       	 		<th>Email</th>
		       	 		<th>Number</th>
		       	 		<th>Action</th>
		       	 	</tr>
		       	 </thead>
		       	 <tbody>
		       	 <tr>
		       	 	<td><input class="form-control" ng-model="contact.name" required></td>
		       	    <td><input class="form-control" ng-model="contact.email" required></td>
		       	 	<td><input class="form-control" ng-model="contact.number" required></td>
		       	 	<td><button class="btn btn-primary" ng-click="addContact()">Add contact</button></td>
		 		    <td><button class="btn btn-info" ng-click="update()">Update</button></td>
		 		    <td><button class="btn btn-info" ng-click="clear()">Clear</button></td>
		       	 </tr>
		       	 	<tr ng-repeat="contact in contacts">
		       	 		<td>{{contact.name}}</td>
		       	 		<td>{{contact.email}}</td>
		       	 		<td>{{contact.number}}</td>
		 		       	<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove contact</button></td>
		 		        <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
		       	 	</tr>
                  </tbody>
		       </table>
       </div>
     </body>
</html> 